*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.97);
    overflow: hidden;
    border: 4px solid blueviolet;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
}
.Nav{
    border: 2px solid black;
    background-color: black;
    display: flex;
    justify-content: space-between;
    /* height: 10%; */
    align-items: center;
}
.Nav2{
    /* font-family: "Trebuchet MS", Tahoma, sans-serif; */
    color: blueviolet;
    font-size: 40px;  
    margin-left: 7%;
}
.Nav3{
    list-style: none;
    display: flex;
    margin-right: 7%;
}
.navitems{
    margin: 8px;
    padding: 20px;
}
.navitems a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.navitems a:hover {
    color: blueviolet;
}

section{
    padding: 5%;
    padding-top: 0%;
    display: grid;
    /* height: max-content; */
    grid-template-columns: 2fr 1fr;
    align-items:self-start;
    grid-template-rows: 1fr;
    row-gap: 2%;
}
h1{
    color: white;
    font-weight: normal;
    margin-top: 5%;
    padding-left:5%;
}
.content_1{
    width: 75%;
    padding-left: 3px;
    border-left: 3px solid blueviolet;
    color: white;
    margin-top: 5%;
}
.section div img{
    height: 50%;
    background-color: black;
    /* border-radius: px; */
}

@media (max-width:800px){

h1{
    color: white;
    font-weight: normal;
    margin-top: 3%;
    padding-left:2%;
    text-align: center;
    }

.content_1{
    width: 75%;
    padding-left: 3px;
    border-left: 3px solid blueviolet;
    color: white;
    margin-top: 1%;
    }

section div img{
    width: 50%;
    background-color: black;
    /* border-radius: 5px; */
    margin-left: 25%;
    }

section{
    padding: 2%;
    height:65%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    row-gap: 3%;
    }
}
@media(max-width:600px){
    .Nav{
        font-family: "Trebuchet MS", Tahoma, sans-serif;
        background-color: black;
        display: flex;
        justify-content: space-between;
        height: 4%;
        align-items: center;
    }
    .Nav2{
        color: blueviolet;
        font-size: 25px;  
        margin-left: 4%;
    }
    .Nav3{
        list-style: none;
        display: flex;
        margin-right: 2%;
    }
    .navitems{
        margin: 4px;
        padding: 4px;
    }
    .navitems a{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
}