*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.97);
    border: 4px solid blueviolet;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    overflow: hidden;
}
.Nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    /* height: 11vh; */
    align-items: center;
}
.Nav2{
    color: blueviolet;
    font-size: 40px;  
    margin-left: 7%;
}
.Nav3{
    list-style: none;
    display: flex;
    margin-right: 4%;
}
.navitems{
    margin: 8px;
    padding: 20px;
}
.navitems a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all;
    transition-duration: .4s;
}
.navitems a:hover {
    color: blueviolet;
}
.daabba{
    display: grid;
    grid-template-rows: 1fr 6fr;
}
.Contact_text{
    margin-top: 2%;
    justify-self: center;
}
.text_getintouch{
    font-weight: normal;
    color: blueviolet;
    text-align: center;
}
.text_contactme{
    text-align: center;
    font-weight: normal;
    font-size: 2.4em;
    color: white;
    margin-bottom: 4%;
}
.Contact{
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    height: auto;
    display: grid;
    grid-template-columns: 3fr 7fr; 
    grid-template-rows: 1fr;
    justify-items: center;
}

.Contact_details{
    padding-top: 5%;
    height: 50%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.form_main{
    padding-top: 3%;
    padding-left: 17%;  
    gap: 1rem;
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
}
.name_section{
    padding-left: 2%;
    border: none;
    background-color:black;
    opacity: 50%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.email_section{
    background-color: black;
    opacity: 50%;
    padding-left: 2%;
    /* border-radius: 8px; */
    border: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.subject_section{
    background-color: black;
    opacity: 50%;
    padding-left: 2%;
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.message_section{
    opacity: 50%;
    padding-left: 2%;
    padding-top: 2%;
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    border: none;
    background-color:black;
    resize: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.submit_button{
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    width: 50%;
    border-radius: 8px;
    color: white;
    background-color: blueviolet;
    grid-column-start: 2;
    justify-self: end;
}
@media(max-width:600px){
    body{
        border: none;
    }
    .Nav{
        width: 100vw;
        border-bottom: 3px solid blueviolet;
        font-family: "Trebuchet MS", Tahoma, sans-serif;
        background-color: black;
        display: flex;
        justify-content: space-between;
        height: 4%;
        align-items: center;
    }
    .Nav2{
        color: blueviolet;
        font-size: 25px;  
        margin-left: 4%;
    }
    .Nav3{
        list-style: none;
        display: flex;
        margin-right: 2%;
    }
    .navitems{
        margin: 4px;
        padding: 4px;
    }
    .navitems a{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
}
@media(max-width:700px){
    .daabba{
        display: grid;
        grid-template-rows: 1fr 24fr;
    }
    .Contact_text{
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 1%;
        justify-self: center;
    }
    .text_getintouch{
        font-weight: normal;
        color: blueviolet;
        text-align: center;
    }
    .text_contactme{
        text-align: center;
        font-weight: normal;
        font-size: 2em;
        color: white;
        margin-bottom: 2%;
    }
    .Contact{
        width: 100vw;
        align-self: center;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 100%;
        display: grid;
        grid-template-columns:none;
        grid-template-rows: 3fr 27fr; 
        justify-items: start;
    }
    .Contact_details{
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 2%;
        padding-left: 11%;
        color: white;
    }
    .form_main{
        width: 100vw;
        padding-top: 5%;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-left: 4%; 
        padding-right: 4%;
        gap: 1rem;
        height: 15%;
        grid: template columns 1fr;;
        grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
    }

    .name_section{
        margin: auto;
        width: 70%;
        height: 100%;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start:1;
        grid-column-end: 3;
        padding-left: 2%;
        border: none;
        background-color:black;
        opacity: 50%;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .email_section{
        margin: auto;
        width: 70%;
        height: 100%;
        opacity: 50%;
        grid-column-start:1;
        grid-column-end: 3;
        padding-left: 2%;
        /* border-radius: 8px; */
        border: none;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .subject_section{
        margin: auto;
        width: 70%;
        height: 100%;
        background-color: black;
        grid-column-start:1;
        grid-column-end: 3;
        opacity: 50%;
        padding-left: 2%;
        border: none;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .message_section{
        opacity: 50%;
        margin: auto;
        width: 70%;
        height: 100%;
        grid-column-start:1;
        grid-column-end: 3;
        padding-left: 2%;
        padding-top: 2%;
        color: white;
        border: none;
        background-color:black;
        resize: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .submit_button{
        font-family: "Trebuchet MS", Tahoma, sans-serif;
        width: 50%;
        border-radius: 8px;
        color: white;
        background-color: blueviolet;
        justify-self: end;
    }
}